h1 {
  text-align: center;
}

body {
  background-color: beige;
}
p {
  text-align: center;
}

footer {
  text-align: center;
}

footer a {
  margin: 0 10px;
}

img {
  display: block;
  margin: 0 auto 20px;
  width: 300px;
}
